<h3>Upload Page</h3>

<div class="upload-area">

    <h4>Video Test</h4>
    {{video-uploader fileType='video'}}

</div>

<div class="upload-area">

    <h4>Image Test</h4>

    {{video-uploader fileType='image'}}

</div>


{{outlet}}
